/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
label {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    text-align:center;
    width:60%;
    line-height: 26px;
    margin-bottom: 20px;
}
input {
    height: 25px;
    flex: 0 0 200px;
    margin-left: 10px;
}
.round{
    text-align:center;
    width:27px;
    border-color:red;
    border-width:1px;
    border-radius:100%;
    color:red;
    background-color:white;
}
.round:hover{
    color:white;
    background-color:red;
    transform: scale(1.2);
}
.submit {
    text-align: left;
    width:27px;
    border-color:green;
    border-width:1px;
    border-radius:100%;
    color:green;
    background-color:white;
}
.submit:hover {
    color:white;
    background-color:green;
    transform: scale(1.2);
}
.updated {
    color:green;
    text-align:center;
}
.deleted {
    color:red;
    text-align:center;
}
table {
    display:inline-table;
}
